body {
    background-color: #ccc;
}
.nav-bar{
    height: 30px;
    width: 100%;
    background-color: black;
    padding: 0;
    margin: 0;
}

a{
    height: 30px;
    float: right;
    margin: 0;
    padding: 0 10px;
    color: red;
}

a:hover{
    background-color: #ccc;
    transition: 0.6s;
    text-decoration: none;
    color: black;
}

.perfil > img {
    display: block;
    height: 20vh;
    width: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    align-items: center;
}

h1{
    text-align: center;
}

.section > img {
    height: 300px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}
.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
    align-items: center;
}

.section > p{
    text-align: justify;
    margin-right: 100px;
}

span{
    color: red;
}

.current{
    color: black;
    background-color: #ccc;
}
/*----------- education  page-----------*/

.edutitle{
    margin-top: 50px;
}

.section-education{
    margin-left: 100px;
    margin-right: 100px;
    background-image: url('electronics.jpg');
    opacity: 0.9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: #ccc;
}

.electronics{
padding-top: 50vh;
}

#mini-desk{
    margin-left: 100px;
}

.mini-description{
    align-self: flex-end;
    padding-left: 5px;
}

.mini-description >p{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.description {
margin-left: 100px;
margin-right: 100px; 
text-align: justify;
padding-top: 10px;
}

ul {
    list-style: none;
}

.skills > h2{
    text-align: center;
    padding: 50px;
}

.container{
   margin-bottom: 10px;
}

.container > img{
    border-radius: 20%;
}